body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
header {
    background: #008080;
    color: white;
    padding: 15px 0;
    font-size: 24px;
}
nav {
    background-color: #00CED1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#links-menu {
    display: flex;
    gap: 25px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    background: #008B8B;
    border-radius: 5px;
}
nav a:hover {
    background: #20B2AA;
}
img {
    width: 75px;
    height: auto;
    margin-right: 5px;
    border-radius: 10px;
}
.container {
    width: 80%;
    margin: 20px auto;
    background:white;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}
h2 {
    text-align: center;
}
table {
    margin: 0 auto
}
td {
    padding: 20px
}
.laranja {
    background-color: #F4A460
}
.azul {
    background-color: #87CEFA
}
.roxo {
    background-color: #836FFF;
}
.preto {
    background-color: 	#696969;
}
.verde {
    background-color: #66CDAA;
}
.vermelho {
    background-color: #FA8072;
}
.campos {
    margin: 20px;
}
.campos label {
    margin-right: 10px;
}